<app-header [viewAddFilm]="false"></app-header>
<section class="about-us py-12 bg-gray-100">
  <div class="max-w-screen-xl mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold text-gray-800">About Us</h2>
      <p class="mt-4 text-lg text-gray-600">
        Learn more about our mission, vision, and the team behind our success.
      </p>
    </div>
    <div class="flex flex-col md:flex-row space-y-8 md:space-y-0 md:space-x-8">
      <!-- Mission -->
      <div class="md:w-1/3 bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-2xl font-semibold text-gray-800">Our Mission</h3>
        <p class="mt-4 text-gray-600">
          O-Film is a background film collection made and edited by film lovers
          volunteers in order to give feedback and improve cinematographic
          industries and make a community with critical analysis where people
          can make easier decissions about movies.
        </p>
      </div>
      <!-- Vision -->
      <div class="md:w-1/3 bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-2xl font-semibold text-gray-800">Our Vision</h3>
        <p class="mt-4 text-gray-600">
          Our vission is to give a world free access to the first and biggest
          film gallery recognized around the world and to be a movement for
          fighting against piracy and also promote the film industries to create
          truly great movies.
        </p>
      </div>
      <!-- Team -->
      <div class="md:w-1/3 bg-white rounded-lg shadow-lg p-6">
        <h3 class="text-2xl font-semibold text-gray-800">Our Team</h3>
        <p class="mt-4 text-gray-600">
            We are a community of film lovers located around the world. 
        </p>
      </div>
    </div>
  </div>
</section>
