<div class="group rounded-lg border">
    <a [routerLink]="['/detail', film.id]" class="w-full overflow-hidden rounded-t-lg bg-gray-200">
        <img [src]="imagen" [alt]="film.title" class="h-full w-full object-cover object-center group-hover:opacity-75" (click)="goDetailHandler()">
    </a>
    <div class="flex flex-col space-y-2 p-4">
        <p class="text-lg font-medium text-gray-700">{{film.title}}</p>
        <h3 class="text-sm text-gray-900">{{ film.release_date }}</h3>
        <button [routerLink]="['/detail', film.id]" class="text-black bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 w-full"
            (click)="goDetailHandler()">See more</button>
    </div>
</div>
