<div class="group rounded-lg border max-w-xs mx-auto">
    <a [routerLink]="['/detail', film.id]" class="w-full overflow-hidden rounded-t-lg bg-gray-200">
      <div *ngIf="!imagenCargada; else loaded" class="relative h-64 bg-gray-300">
        <img
          [src]="imagen"
          [alt]="film.title"
          class="h-full w-full object-cover object-center absolute inset-0 transition-opacity duration-300 opacity-0"
          (load)="imagenCargada = true"
        />
      </div>
      <ng-template #loaded>
        <img
          [src]="imagen"
          [alt]="film.title"
          class="h-full w-full object-cover object-center group-hover:opacity-75"
          (load)="imagenCargada = true"
        />
      </ng-template>
    </a>
    <div class="flex flex-col space-y-2 p-4">
      <div class="flex flex-col md:flex-row">
        <div class="md:w-1/2 md:flex md:items-center">
          <p class="text-lg font-medium text-gray-700">{{ film.title }}</p>
        </div>
        <div class="md:w-1/2 md:ml-6 mt-4 md:mt-0">
          <div class="flex items-center justify-end ml-auto">
            <svg
              class="w-4 h-4 text-yellow-300 ml-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
            <svg
              class="w-4 h-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
            <svg
              class="w-4 h-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
            <svg
              class="w-4 h-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
            <svg
              class="w-4 h-4 text-gray-300 dark:text-gray-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
            <p class="title-font font-medium text-2xl text-gray-900 ml-2">{{ film?.vote_average?.toFixed(1) }}</p>
            <p class="title-font font-medium text-2xl text-gray-500">/10</p>
          </div>
        </div>
      </div>
      <h3 class="text-sm text-gray-900">{{ film.release_date }}</h3>
      <button [routerLink]="['/detail', film.id]" class="text-black bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 w-full">
        See more
      </button>
    </div>
  </div>
  
